/* Здесь будут храниться стили нашего сайта */
body {
	margin: 0;
	font-family: 'Roboto';
	font-size: 18px;
}
img {
	max-width: 100%;
}
header {
	padding-top: 59px;
	padding-bottom: 22px;	
	background-color: #3a7dfd;
	color: #fff;
	background: #3a7dfd; /* Old Browsers */
	background: -webkit-linear-gradient(top,#3a7dfd,#dddddd);/*Safari 5.1-6*/
	background: -o-linear-gradient(top,#3a7dfd,#dddddd); /*Opera 11.1-12*/
	background: -moz-linear-gradient(top,#3a7dfd,#dddddd); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #3a7dfd, #dddddd); /*Standard*/
}
header small {
	font-size: 12px;
	display: block;
	text-align: center;
	margin-top: 9px;
}
.header-pretitle {
	margin-top: 60px;
}
.header-logo {
	width: 599px;
	height: 444px;
}
.port-gas {
	width: 457px;
	height: 200px;
}
.port-world {
	width: 457px;
	height: 200px;
}
.header-title {
	font-size: 48px;
	font-weight: 700px;
	line-height: 46.81px;
	margin-top: 21px;
}
.header-subtitle {
	margin-top: 20px;
}
.header-button {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 10px 13px 40px 6px rgba(18, 61, 145, 0.83);
	border-radius: 50px;
	background-color: #fff;
	color: #072b6f;
	font-size: 18px;
	font-weight: 700;
	padding: 17px 55px;
	margin-top: 33px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.header-button:hover {
	box-shadow: none;
}
.header-button-block {
	max-width: 210px;
}
.portfolio {
	background-color: #dddddd;
	padding-top: 44px;
	padding-bottom: 71px;
}
.portfolio-block {
	background-color: #fff;
	padding-top: 29px;
	padding-bottom: 41px;
}
.portfolio-title, .portfolio-subtitle {
	text-align: center;
}
.portfolio-title {
	text-transform: uppercase;
	font-size: 18px;
	color: #072b6f;
	margin-bottom: 10px;
}
.portfolio-subtitle {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 14px;
	color: #7bb9ff;
}
.portfolio-col-1 {
	padding-left: 50px;
}
.portfolio-col-2 {
	padding-right: 50px;
}
.portfolio-block h3 {
	color: #072b6f;
	font-size: 18px;
	text-transform: uppercase;
}
.portfolio-text {
	color: #8f8f8f;
	font-size: 14px;
	font-weight: 400;
}
.portfolio-block a {
	color: #072b6f;
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}

footer {
	background-color: #3a7dfd;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 80px;
	background: -webkit-linear-gradient(bottom,#3a7dfd,#dddddd); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom,#3a7dfd,#dddddd); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom,#3a7dfd,#dddddd); /*Fx 3.6-15*/
    background: linear-gradient(to top, #3a7dfd, #dddddd); /*Standard*/
}
.social-block img {
	width: 40px;
	height: 40px;
}
.footer-author {
	font-size: 24px;
	margin-bottom: 7px;
}
.footer-text {
	margin-top: 0;
}
.social-block {
	text-align: center;
}
.social-block a {
	display: inline-block;
	margin-left: 13px;
	margin-right: 13px;
}
.footer-cta {
	margin-bottom: 13px;
}
.footer-cta-block {
	text-align: center;
}
.footer-button {
	text-decoration: none;
	display: inline-block;
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	border-radius: 50px;
	padding: 12px 42px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.footer-button:hover {
	background-color: #fff;
	color: #3a7dfd;
}

@media (max-width: 1200px) {
	.header-pretitle {
		margin-top: 60px;
	}
}

@media (max-width: 992px) {
	.header-logo {
		display: none;
	}
	.header-pretitle {
		margin-top: 10px;
	}
	.footer-author {
		font-size: 18px;
	}
	.footer-text {
		font-size: 14px;
	}
	.social-block {
		margin-left: 5px;
		margin-right: 5px;
	}
	.social-block img {
		width: 30px;
	} 
	.footer-button {
		font-size: 14px;
		padding: 8px 35px;
	}
}

@media (max-width: 768px) {
	.portfolio-col-1 {
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 40px;
	}
	.portfolio-col-2 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer-author, .footer-text {
		text-align: center;
	}
	.social-block img {
		width: 40px;
}